/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    /* border-radius: 10px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(19, 60, 148); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b45f0f; 
  }

/* AKHIR SCROLLBAR */



/* *{
    transition: 1s;
} */

.hide-content{
    display: none;
}

.content{
    background-color: white;
}

.text-hitam{
    color: black !important;
}

.text-putih{
    color: white !important;
}

.text-putih-dark{
    color: rgb(175, 175, 175) !important;
}

.text-biru{
    color: rgb(0, 0, 70) !important;
}

.border-kiri{
    border-left: 3px solid white;
}

.bg-biru{
    background-color: rgb(0, 0, 53) !important;
}

.bg-orange{
    background-color: #EF8521;
}

.btn-dark-blue{
    background-color: #182F64;
    color: white;
}

.text-orange{
    color: #EF8521 !important;
}

.nav-item .nav-link i{
    font-size: 30px !important;
}

.bg-menu{
    background-color: #404E7A;
}

.text-menu{
    color: #404E7A;
    transition: 0.1s !important;

}

.text-menu:hover{
    text-decoration: none;
    color: #0a9639;
    transition: 0.1s !important;
}

.export-data input{
    border-radius: 2em;
    color: #182F64;
}
.export-data select{
    border-radius: 2em;
    color: #182F64;
}
.export-data button{
    border-radius: 2em;
}

.bg-biru-muda{
    background-color: #0fd2f5;
}
.text-biru-muda{
    color: #0fd2f5;
}

.orders a:hover{
    text-decoration: none;
    color: #ffba7a !important;
}

.search-user{
    background-color: #0fd2f5;
}
.search-user:active{
    background-color: #ffffff;
    border: 4px solid #0fd2f5 !important;
}

.search-user::placeholder {
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
  }

.paket-soal button:hover{
    color: #0fd2f5;
}

.border-orange{
    border-color:#EF8521 !important;
}

.send-pw-baru:active{
    background-color: #159435 !important;
    color: #ffffff !important;
}

.tambah-produk-manual{
    color: #004caf;
    border-bottom: 3px solid rgb(207, 207, 0) !important;
}

.paket-users{
    border: 1px solid rgb(224, 224, 224);
    background-color: #253468;
    color: white;
}

.homepage{
    /* transition: .3s !important; */
}

.dropdown-item:hover{
    background-color: #004caf;
    color: white;
}